[host]
# endpoint for TNRS web services
tnrshost = http://dev.opentreeoflife.org/taxomachine:7476

# endpoint for GoL web services
golshost = http://dev.opentreeoflife.org/treemachine:7474
phylografterapp = http://www.reelab.net/phylografter
